@{
    ViewData["Title"] = "Logout";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogoutUser">          
            <div class="form-group">
                <input type="submit" value="Logout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>